body {
	margin: 0;
	padding: 0;
	background: #ddd;
	overflow: hidden;
}

/*
 * hide all radio buttons
 */
input[type="radio"] {
	position: absolute;
	opacity: 0;
}

/*
 * tool classes
 */
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.hidden {
	display: none;
}
.no-overflow {
	overflow: hidden;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.text-center {
	text-align: center;
}
.float-left {
	float: left;
}
.anim-in-01s {
	-webkit-transition: all linear 0.1s;
	    -ms-transition: all linear 0.1s;
	   -moz-transition: all linear 0.1s;
}
.anim-in-04s {
	-webkit-transition: all linear 0.4s;
	    -ms-transition: all linear 0.4s;
	   -moz-transition: all linear 0.4s;
}

/*
 * layout
 */
.main {
	margin: 0 auto;
	background-color: black;
}
.main, .screen {
	width: 640px;
	height: 480px;
}
.game {
	margin-left: 32px;
	margin-top: 16px;
}
.game, .game-size {
	width: 384px;
	height: 448px;
}
.info {
	color: #eee;
	margin-top: 58px;
	margin-left: 432px;
}

/*
 * logo animation
 */
.logo-text {
	margin-top: 294px;
	margin-left: 446px;
	width: 168px;
	height: 168px;
}
.logo-text .td {
	float: left;
	width: 56px;
	height: 56px;
}
.logo-text .font {
	position: absolute;
	background-image: url(res/front.png);
	margin-left: -6px;
	margin-top: -6px;
	width: 64px;
	height: 64px;
	opacity: 0.6;
}
.logo-text .fa {
	background-position: 0 0;
}
.logo-text .fb {
	background-position: -64px 0;
}
.logo-text .fc {
	background-position:-128px 0;
	opacity: 1;
}
.logo-text .fd {
	background-position:-192px 0;
}
.logo-text .fe {
	background-position: 0 -64px;
}
.game-pause .logo-text .fa,
.game-running .logo-text .fa {
	-webkit-animation: fa_anim 2s linear;
	    -ms-animation: fa_anim 2s linear;
	   -moz-animation: fa_anim 2s linear;
}
@-webkit-keyframes fa_anim {
	from { -webkit-transform: rotate(360deg); opacity:0.0; margin-left: 48px; margin-top: 48px; }
	50%  { -webkit-transform: rotate(180deg); opacity:0.3; margin-left: 48px; margin-top:  0px; }
}
@-ms-keyframes fa_anim {
	from {     -ms-transform: rotate(360deg); opacity:0.0; margin-left: 48px; margin-top: 48px; }
	50%  {     -ms-transform: rotate(180deg); opacity:0.3; margin-left: 48px; margin-top:  0px; }
}
@-moz-keyframes fa_anim {
	from {    -moz-transform: rotate(360deg); opacity:0.0; margin-left: 48px; margin-top: 48px; }
	50%  {    -moz-transform: rotate(180deg); opacity:0.3; margin-left: 48px; margin-top:  0px; }
}
.game-pause .logo-text .fb,
.game-running .logo-text .fb {
	-webkit-animation: fb_anim 1s linear;
	    -ms-animation: fb_anim 1s linear;
	   -moz-animation: fb_anim 1s linear;
}
@-webkit-keyframes fb_anim { from { -webkit-transform: rotate(-180deg); opacity:0.0; margin-top: 48px; } }
    @-ms-keyframes fb_anim { from {     -ms-transform: rotate(-180deg); opacity:0.0; margin-top: 48px; } }
   @-moz-keyframes fb_anim { from {    -moz-transform: rotate(-180deg); opacity:0.0; margin-top: 48px; } }
.game-pause .logo-text .fd,
.game-running .logo-text .fd {
	-webkit-animation: fc_anim 1s linear;
	    -ms-animation: fc_anim 1s linear;
	   -moz-animation: fc_anim 1s linear;
}
@-webkit-keyframes fc_anim { from { -webkit-transform: rotate(180deg); opacity:0.0; margin-top: -60px; } }
    @-ms-keyframes fc_anim { from {     -ms-transform: rotate(180deg); opacity:0.0; margin-top: -60px; } }
   @-moz-keyframes fc_anim { from {    -moz-transform: rotate(180deg); opacity:0.0; margin-top: -60px; } }
.game-pause .logo-text .fe,
.game-running .logo-text .fe {
	-webkit-animation: fd_anim 2s linear;
	    -ms-animation: fd_anim 2s linear;
	   -moz-animation: fd_anim 2s linear;
}
@-webkit-keyframes fd_anim {
	from { -webkit-transform: rotate(-360deg); opacity:0.0; margin-left: -60px; margin-top: -60px; }
	50%  { -webkit-transform: rotate(-180deg); opacity:0.3; margin-left: -60px; margin-top:   0px; }
}
@-ms-keyframes fd_anim {
	from {     -ms-transform: rotate(-360deg); opacity:0.0; margin-left: -60px; margin-top: -60px; }
	50%  {     -ms-transform: rotate(-180deg); opacity:0.3; margin-left: -60px; margin-top:   0px; }
}
@-moz-keyframes fd_anim {
	from {    -moz-transform: rotate(-360deg); opacity:0.0; margin-left: -60px; margin-top: -60px; }
	50%  {    -moz-transform: rotate(-180deg); opacity:0.3; margin-left: -60px; margin-top:   0px; }
}
.logo {
	margin-top: 312px;
	margin-left: 464px;
	width: 128px;
	height: 128px;
}
.game-pause .logo,
.game-running .logo {
	-webkit-animation: logo_anim 5s;
	    -ms-animation: logo_anim 5s;
	   -moz-animation: logo_anim 5s;
}
@-webkit-keyframes logo_anim { from { -webkit-transform: rotate(-180deg);opacity:0; } }
    @-ms-keyframes logo_anim { from {     -ms-transform: rotate(-180deg);opacity:0; } }
   @-moz-keyframes logo_anim { from {    -moz-transform: rotate(-180deg);opacity:0; } }

.fps {
	margin-top: 10px;
	margin-left: 432px;
}
.mask {
	background: rgba(0, 0, 0, 0.7);
	color: #eee;
}
.bgimg {
	-webkit-transform: perspective(600px) rotateX(.001deg);
}
.bgimg>* {
	position: absolute;
	width: 384px;
	height: 480px;
}

/*
 * game data in the info div
 */
.line {
	height: 24px;
}
.line-small {
	height: 20px;
}
.line-sep {
	height: 16px;
}
.label {
	float: left;
	width: 64px;
}
.label>* {
	background: url(res/front.png);
	height: 16px;
}
.label-max-point {
	width: 64px;
	background-position: 0 -192px;
}
.label-point {
	width: 32px;
	background-position: 0 -208px;
}
.label-player {
	width: 64px;
	background-position: 0 -176px;
}
.label-bomb {
	width: 48px;
	background-position: 0 -161px;
}
.label-power {
	width: 64px;
	background-position: -32px -208px;
}
.label-graze {
	width: 48px;
	background-position: -32px -224px;
}
.label-dot {
	width: 48px;
	background-position: -48px -160px;
}
.label-enemy {
	width: 48px;
	background-position: 0 -142px;
}
.power-bar {
	margin-left: 64px;
	background: rgba(255,255,255,0.4);
	height: 16px;
	width: 128px;
}
.player {
	background: url(res/front.png) -32px -240px;
	float: left;
	width: 16px;
	height: 16px;
}
.bomb {
	background: url(res/front.png) -48px -240px;
	float: left;
	width: 16px;
	height: 16px;
}
.power-max {
	background: url(res/front.png) -64px -240px;
	float: left;
	width: 48px;
	height: 16px;
}
.num {
	background: url(res/ascii.png) 0 -32px;
	float: left;
	width: 14px;
	height: 16px;
}
.n0 {
	background-position: -0     -48px;
}
.n1 {
	background-position: -16px  -48px;
}
.n2 {
	background-position: -32px  -48px;
}
.n3 {
	background-position: -48px  -48px;
}
.n4 {
	background-position: -64px  -48px;
}
.n5 {
	background-position: -80px  -48px;
}
.n6 {
	background-position: -96px  -48px;
}
.n7 {
	background-position: -112px -48px;
}
.n8 {
	background-position: -128px -48px;
}
.n9 {
	background-position: -144px -48px;
}

/*
 * in the pause menu
 */
.menu-pause .menu,
.menu-pause-text {
	background-image: url(res/ascii.png);
	height: 16px;
	display: inline-block;
	cursor: pointer;
	-webkit-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	   -moz-transform: scale(1.5);
}
.menu-pause .menu {
	opacity: 0.4;
}
.menu-pause input:focus + .menu {
	background-image: url(res/asciis.png);
	-webkit-transform: scale(1.8);
	    -ms-transform: scale(1.8);
	   -moz-transform: scale(1.8);
	opacity: 1;
}
.menu-pause .menu-line {
	margin: 10px;
	margin-left: 110px;
}
.menu-pause-text {
	width: 64px;
	margin-top: 168px;
	margin-left: 160px;
	margin-bottom: 5px;
	background-position:  0		-160px;
}
.menu-pause-continue {
	width: 64px;
	margin-top: 28px;
	background-position: -0     -176px;
}
.menu-pause-title {
	width: 96px;
	background-position: -0     -192px;
}
.menu-pause-quit {
	width: 30px;
	background-position: -48px  -208px;
}

/*
 * dialog animation
 */
.fl, .fr, .ft {
	position: absolute;
	-webkit-transition: all ease 0.6s;
	    -ms-transition: all ease 0.6s;
	   -moz-transition: all ease 0.6s;
}
.fl, .fr {
	margin-top: 192px;
}
.fr {
	margin-left: 256px;
}
.face {
	position: absolute;
	opacity: 0;
	width: 128px;
	height: 256px;
	-webkit-transition: all linear 0.3s;
	    -ms-transition: all linear 0.3s;
	   -moz-transition: all linear 0.3s;
}
.diag .fl {
	-webkit-transform: translate(-128px, 10px);
	    -ms-transform: translate(-128px, 10px);
	   -moz-transform: translate(-128px, 10px);
}
.diag .fr {
	-webkit-transform: translate( 128px, 10px);
	    -ms-transform: translate( 128px, 10px);
	   -moz-transform: translate( 128px, 10px);
}
.diag.active .fl {
	-webkit-transform: translate(-20px, 10px);
	    -ms-transform: translate(-20px, 10px);
	   -moz-transform: translate(-20px, 10px);
}
.diag.active .fr {
	-webkit-transform: translate( 20px, 10px);
	    -ms-transform: translate( 20px, 10px);
	   -moz-transform: translate( 20px, 10px);
}
.diag.active .fl.active,
.diag.active .fr.active {
	-webkit-transform: none;
	    -ms-transform: none;
	   -moz-transform: none;
}
.diag.active .fl .face.active,
.diag.active .fr .face.active {
	opacity: 0.3;
}
.diag.active .fl.active .face.active,
.diag.active .fr.active .face.active {
	opacity: 1;
}
.f0a {
	background: url(res/face00a.png) 0 0;
}
.f0b {
	background: url(res/face00b.png) 0 0;
}
.f0c {
	background: url(res/face00c.png) 0 0;
}
.f3a {
	background: url(res/face03a.png) 0 0;
}
.f3b {
	background: url(res/face03b.png) 0 0;
}
.f2 {
	background-position: -128px 0;
}
.ft {
	margin-top: 320px;
	width: 100%;
	opacity: 0;
}
.diag.active .ft {
	opacity: 1;
}
.ft .text {
	margin: 48px;
	padding: 2px 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: silver;
}

/*
 * loading screen
 */
.loading {
	background: url(res/th06logo.png) white;
}

/*
 * title screen
 */
.title {
	background: url(res/title00.png) white;
}
.title-eng {
	width: 512px;
	height: 32px;
	margin-top: -172px;
	margin-left: -190px;
	-webkit-transform: rotate(67.5deg);
	    -ms-transform: rotate(67.5deg);
	   -moz-transform: rotate(67.5deg);
}
.title-eng .text {
	width: 256px;
	height: 32px;
	float: left;
	background: url(res/title03.png);
}
.title-eng .text1 {
	background-position: 0 -192px;
}
.title-eng .text2 {
	background-position: 0 -224px;
}
.title-text {
	margin-top: 44px;
	margin-left: 64px;
}
.title-text .font {
	width: 96px;
	height: 96px;
	margin-top: -20px;
	background: url(res/title02.png);
}
.title-text .fa {
	background-position: 0 0;
}
.title-text .fb {
	background-position:-96px 0;
}
.title-text .fc {
	background: url(res/title03.png);
	background-position: 0 0;
}
.title-text .fd {
	background-position: 0 -96px;
}
.title-text .fe {
	background-position: -96px -96px;
}
.menu-title {
	margin-left: 422px;
	margin-top: 207px;
}
.menu-title .menu-line {
	margin: 0;
	margin-top: -8px;
}
.menu-title-start {
	background-position: 0 0;
	width: 80px;
}
.menu-title-extra-start {
	background-position: -79px 2px;
	width: 180px;
	margin-left: -10px;
}
.menu-title-practice-start {
	background-position: 2px -192px;
	width: 180px;
	margin-left: -20px;
}
.menu-title-replay {
	background-position: 2px -32px;
	width: 100px;
	margin-left: -30px;
}
.menu-title-score {
	background-position: -95px -32px;
	width: 80px;
	margin-left: -40px;
}
.menu-title-music-room {
	background-position: -95px -160px;
	width: 160px;
	margin-left: -50px;
}
.menu-title-option {
	background-position: 2px -64px;
	width: 100px;
	margin-left: -60px;
}
.menu-title-quit {
	background-position: -192px -32px;
	width: 60px;
	margin-left: -70px;
}
.menu-title .menu {
	background-image: url(res/title01.png);
	display: inline-block;
	height: 32px;
	opacity: 0.5;
	cursor: pointer;
}
.menu-title input:focus + .menu {
	background-image: url(res/title01s.png);
	opacity: 1;
	-webkit-transform: translate(-3px, -3px);
	    -ms-transform: translate(-3px, -3px);
	   -moz-transform: translate(-3px, -3px);
}

/*
 * title screen animations
 */
.title .title-eng {
	opacity: 0;
	transition-delay: 0.4s;
	-webkit-transition: all linear 0.4s;
	    -ms-transition: all linear 0.4s;
	   -moz-transition: all linear 0.4s;
}
.game-title .title-eng,
.game-menu .title-eng {
	opacity: 1;
}
.game-loading .title-eng {
	margin-top: -472px;
	margin-left: -314px;
}

.title-text {
	margin-left: 272px;
}
.game-menu .title-text,
.game-select .title-text {
	margin-left: 64px;
}
.title-text .font {
	-webkit-transition: all linear 0.4s;
	    -ms-transition: all linear 0.4s;
	   -moz-transition: all linear 0.4s;
}
.title-text .fa {
	-webkit-transform: translateY(500px);
	    -ms-transform: translateY(500px);
	   -moz-transform: translateY(500px);
}
.title-text .fb,
.game-select .title-text .fd {
	transition-delay: 0.1s;
	-webkit-transform: translateX(-400px);
	    -ms-transform: translateX(-400px);
	   -moz-transform: translateX(-400px);
}
.title-text .fc {
	opacity: 0;
	-webkit-transition: none;
	    -ms-transition: none;
	   -moz-transition: none;
}
.title-text .fd {
	transition-delay: 0.2s;
	-webkit-transform: translateX(400px);
	    -ms-transform: translateX(400px);
	   -moz-transform: translateX(400px);
}
.title-text .fe {
	transition-delay: 0.3s;
	-webkit-transform: translateY(-500px);
	    -ms-transform: translateY(-500px);
	   -moz-transform: translateY(-500px);
}
.game-select .title-text .fa,
.game-select .title-text .fb,
.game-select .title-text .fd,
.game-select .title-text .fe {
	transition-delay: 0.0s;
}
.game-title .title-text .fa,
.game-title .title-text .fb,
.game-title .title-text .fd,
.game-title .title-text .fe,
.game-menu .title-text .fa,
.game-menu .title-text .fb,
.game-menu .title-text .fd,
.game-menu .title-text .fe {
	-webkit-transform: none;
	    -ms-transform: none;
	   -moz-transform: none;
}
.game-title .title-text .fc,
.game-menu .title-text .fc {
	opacity: 1;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
	   -moz-transform: rotate(25deg);
}
.game-title .title-text .fc {
	-webkit-animation: fc_t_anim 2s linear;
	    -ms-animation: fc_t_anim 2s linear;
	   -moz-animation: fc_t_anim 2s linear;
}
@-webkit-keyframes fc_t_anim {
	from { -webkit-transform: none; opacity:0.0; }
	70%  { -webkit-transform: none; opacity:1.0; }
}
@-ms-keyframes fc_t_anim {
	from {     -ms-transform: none; opacity:0.0; }
	70%  {     -ms-transform: none; opacity:1.0; }
}
@-moz-keyframes fc_t_anim {
	from {    -moz-transform: none; opacity:0.0; }
	70%  {    -moz-transform: none; opacity:1.0; }
}
.menu-title {
	width: 500px;
}
.menu-title .menu {
	-webkit-transition: margin-left ease 0.4s;
	    -ms-transition: margin-left ease 0.4s;
	   -moz-transition: margin-left ease 0.4s;
}
.game-loading .menu-title .menu,
.game-title .menu-title .menu {
	margin-left: 220px;
}
.title {
	opacity: 1;
	-webkit-transition: opacity ease 0.5s;
	    -ms-transition: opacity ease 0.5s;
	   -moz-transition: opacity ease 0.5s;
}
.game-select .title {
	opacity: 0;
}

/*
 * select screen
 */
.select {
	background: url(res/select00.png) white;
	opacity: 1;
	-webkit-transition: opacity ease 0.6s;
	    -ms-transition: opacity ease 0.6s;
	   -moz-transition: opacity ease 0.6s;
}
.game-select .select {
	opacity: 0;
}
.select-diff {
	margin-top: 32px;
	margin-left: 188px;
}
.select-diff,
.select .select-title {
	-webkit-transition: all ease 0.4s;
	    -ms-transition: all ease 0.4s;
	   -moz-transition: all ease 0.4s;
}
.select-diff .select-title {
	width: 256px;
	height: 64px;
	background: url(res/select01.png);
	background-position: 0 -192px;
	margin-left: 24px;
}
.select-diff .menu {
	display: inline-block;
	cursor: pointer;
	width: 256px;
	height: 90px;
	opacity: 0.5;
	-webkit-transition: -webkit-transform ease 0.4s;
	    -ms-transition:     -ms-transform ease 0.4s;
	   -moz-transition:    -moz-transform ease 0.4s;
}
.select-diff input:focus + .menu {
	opacity: 1;
	margin-left: -5px;
}
.menu-diff-easy {
	background: url(res/select01.png);
	background-position: 0 0;
}
.menu-diff-normal {
	background: url(res/select01.png);
	background-position: 0 -96px;
}
.menu-diff-hard {
	background: url(res/select02.png);
	background-position: 0 0;
}
.menu-diff-lunatic {
	background: url(res/select02.png);
	background-position: 0 -96px;
}
.game-select .select-title {
	-webkit-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	   -moz-transform: translateY(-100px);
}
.game-select .select-diff .menu {
	-webkit-transform: translateX(500px);
	    -ms-transform: translateX(500px);
	   -moz-transform: translateX(500px);
}
.game-select-char .select-diff,
.game-select-bomb .select-diff {
	-webkit-transform: translateX(-500px);
	    -ms-transform: translateX(-500px);
	   -moz-transform: translateX(-500px);
}
.game-select-char .select-diff input,
.game-select-bomb .select-diff input {
	display: none;
}
.game-select-char input:checked + .menu-diff-easy,
.game-select-bomb input:checked + .menu-diff-easy {
	-webkit-transform: translate(322px, 256px);
	    -ms-transform: translate(322px, 256px);
	   -moz-transform: translate(322px, 256px);
}
.game-select-char input:checked + .menu-diff-normal,
.game-select-bomb input:checked + .menu-diff-normal {
	-webkit-transform: translate(322px, 160px);
	    -ms-transform: translate(322px, 160px);
	   -moz-transform: translate(322px, 160px);
}
.game-select-char input:checked + .menu-diff-hard,
.game-select-bomb input:checked + .menu-diff-hard {
	-webkit-transform: translate(322px, 64px);
	    -ms-transform: translate(322px, 64px);
	   -moz-transform: translate(322px, 64px);
}
.game-select-char input:checked + .menu-diff-lunatic,
.game-select-bomb input:checked + .menu-diff-lunatic {
	-webkit-transform: translate(322px, -32px);
	    -ms-transform: translate(322px, -32px);
	   -moz-transform: translate(322px, -32px);
}

.select-char .select-title {
	background: url(res/select03.png);
	background-position: 0 0;
	width: 256px;
	height: 48px;
	margin-top: 32px;
	margin-left: 192px;
	-webkit-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	   -moz-transform: translateY(-100px);
}
.game-select-char .select-char .select-title {
	-webkit-transform: none;
	    -ms-transform: none;
	   -moz-transform: none;
}
.select-char .menu {
	display: block;
	cursor: pointer;
	margin-top: -80px;
	width: 256px;
	height: 480px;
	opacity: 0;
	-webkit-transition: all ease 0.4s;
	    -ms-transition: all ease 0.4s;
	   -moz-transition: all ease 0.4s;
	-webkit-transform: translateX(360px);
	    -ms-transform: translateX(360px);
	   -moz-transform: translateX(360px);
}
.select-char .menu img {
	float: left;
	width: 256px;
}
.select-char input:focus + .menu {
	opacity: 1;
	-webkit-transform: translateX(320px);
	    -ms-transform: translateX(320px);
	   -moz-transform: translateX(320px);
}
.game-select-bomb .select-char input {
	display: none;
}
.game-select-bomb .select-char input:checked + .menu {
	opacity: 1;
	-webkit-transform: translateX(192px);
	    -ms-transform: translateX(192px);
	   -moz-transform: translateX(192px);
}

.select-bomb .select-title {
	background: url(res/select03.png);
	background-position: 0 -48px;
	width: 256px;
	height: 48px;
	margin-top: 96px;
	margin-left: 360px;
	margin-bottom: 58px;
	-webkit-transform: translateY(-150px);
	    -ms-transform: translateY(-150px);
	   -moz-transform: translateY(-150px);
}
.game-select-bomb .select-bomb .select-title {
	-webkit-transform: none;
	    -ms-transform: none;
	   -moz-transform: none;
}
.select-bomb .menu {
	background-image: url(res/select04.png);
	display: block;
	cursor: pointer;
	width: 256px;
	height: 48px;
	opacity: 0.5;
	-webkit-transition: -webkit-transform ease 0.4s;
	    -ms-transition:     -ms-transform ease 0.4s;
	   -moz-transition:    -moz-transform ease 0.4s;
	-webkit-transform: translateX(640px);
	    -ms-transform: translateX(640px);
	   -moz-transform: translateX(640px);
}
.game-select-bomb .select-bomb .menu {
	-webkit-transform: translateX(368px);
	    -ms-transform: translateX(368px);
	   -moz-transform: translateX(368px);
}
.select-bomb input:focus + .menu {
	opacity: 1;
	margin-left: -5px;
}
.menu-bomb-a {
	background-position: 0 0;
}
.menu-bomb-b {
	background-position: 0 -48px;
}
